*{
    margin: 0;
    padding: 0;
}
body{
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: #101010;
    color: #fff;
}

.all-content{
    background-color: #101010;
}
.navbar{
    background-color: #101010;
    max-height: 500px;
}
.navbar,
.navlink{
    padding-right: 10%;
    font-size: 20px;
}
.navbar-brand{
    padding-left: 10%;
    padding-right: 0;
    font-size: 26px;
}

.homepage-image{
    width: 100%;
    max-width: 1500px;
    min-width: 400px;
    margin-top: 8%;
    padding-right: 17%;
    padding-left: 0%;
}

.home{
    margin-top: 5%;
    padding-top: 5%;
    color: #ffff;
}
.home-heading{
    color: yellow;
    font-size: 40px;
}
.home-text{
    font-size: 25px;
    padding-right: 0;
}
.home-main-info{
    padding-right: 0;
    margin-right: 0;
    padding-left: 5%;
    margin-left: 0;
}
.contact-us-button{
    border-radius: 200px;
    font-size: 20px;
    padding: 5px;
    background-color: #101010;
    color: #ffff;
    border-color: #fff;
    margin-left:0;
    margin-right:auto;
    display:block;
}
.contact-us-button:hover{
    background-color: #fff;
    color: green;
    font-weight: bold;
}
/* .fa,.fa-whatsapp{
    margin-left: 20px;
    color: green;
} */
@media (max-width:500px){
 .homepage-image{
    width: 50%;
    max-width: 500px;
    min-width: 300px;
    margin-top: 15%;
    padding-right: 5%;
    padding-left: 5%;
}

}
@media(min-width:700px) and (max-width: 1200px){
    .homepage-image{
        width: 100%;
        max-width: 500px;
        min-width: 100px;
        margin-top: 10%;
        padding-right: 5%;
        padding-left: 5%;
    } 
}



#service-section{
    background-color: #1b1919;
}
.services{
    margin-top: 4%;
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-top: 6%;
    padding-bottom: 6%;
}
.services-heading{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}
.services-paragraph{
    text-align: center;
}
.service-item{
    display: inline-block;
}
.fas{
    color: yellow;
    padding-right: 5%;
}

/* payment section */
#making-payments{
    background-color:#101010;
}
.payments{
    margin-top: 1%;
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-top: 6%;
    padding-bottom: 6%;
}
.payments-heading{
    text-align: center;
    font-size: 40px;
}
.payments-paragraph{
    text-align: center;
}
.payment-table,th, td{
    border: 5px solid green ;
    font-size: 35px;
    text-align: center;
    margin-left: auto;
  margin-right: auto;
}
th{
    background-color: gray;
    color: blue;
}

/* ==============
Coming Soon Formatting
=============== */
.coming-soon-body{
    background-color: blue;
}
.coming-soon-head{
    font-size: 100px;
    text-align: center;
}
.coming-soon-paragraph{
    font-size: 30px;
    text-align: center;
}

/* ==============
Coming Soon Formatting
=============== */

/* ==============
Contact Us Section
=============== */

.contactus{
    border: 2px solid #101010;
    border-radius: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 15%;
    background: #222222;
    margin: 6% auto;
    /* width: 45%; */
    max-width: 550px;
    width: 100%;
}
.contactus-heading{
    text-align: center;
}
.contact-form{
    float: center;
    padding-left: 10%;
    padding-right: 10%;
}
input{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0;
    width: 100%;
}
textarea{
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
.contactus-button{
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    background-color: blue;
    color: #fff;
    padding: 2%;
    width: 30%;
    border-color: blue;
}
.contact-image{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.contact-section{
    background-color:#1b1919;
    padding: 1%;
}
